<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Nest Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
        
        <!-- Template CSS -->
        <link href="/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href="index.html" class="brand-wrap">
                    <img src="/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside">
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/home">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="page-products-list">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Products</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/page-products-list">Product List</a>
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="page-orders-1.html">
                            <i class="icon material-icons md-person"></i>
                            <span class="text">Users</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/user-list">User  list</a> 
                        </div>
                    </li>
                   
                    <!-- <li class="menu-item has-submenu">
                        <a class="menu-link" href="page-sellers-cards.html">
                            <i class="icon material-icons md-store"></i>
                            <span class="text">Sellers</span>
                        </a>
                        <div class="submenu">
                            <a href="page-sellers-cards.html">Sellers cards</a>
                        </div>
                    </li> -->
                    <!-- <li class="menu-item has-submenu">
                        <a class="menu-link" href="page-transactions-1.html">
                            <i class="icon material-icons md-monetization_on"></i>
                            <span class="text">Transactions</span>
                        </a>
                        <div class="submenu">
                            <a href="page-transactions-1.html">Transaction 1</a>
                            <a href="page-transactions-2.html">Transaction 2</a>
                        </div>
                    </li> -->
                    <!-- <li class="menu-item has-submenu">
                        <a class="menu-link" href="#">
                            <i class="icon material-icons md-person"></i>
                            <span class="text">Account</span>
                        </a>
                        <div class="submenu">
                            <a href="page-account-login.html">User login</a>
                            <a href="page-account-register.html">User registration</a>
                            <a href="page-error-404.html">Error 404</a>
                        </div>
                    </li> -->
                    <li class="menu-item active">
                        <a class="menu-link" href="/admin/category">
                            <i class="icon material-icons md-comment"></i>
                            <span class="text">Category</span>
                        </a>
                    </li>
                    <li class="menu-item ">
                        <a class="menu-link" href="/admin/order-list">
                            <i class="icon material-icons md-shopping_cart"></i>
                            <span class="text">Orders</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" disabled href="/admin/coupon">
                            <i style=" color: rgb(195, 198, 201);" class="ri-coupon-2-fill ri-xl"></i>
                            <span style="margin-left: 10px;" class="text">Coupon</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/banner">
                            <i class="icon material-icons md-image"></i>
                            <span class="text">Banners</span>
                        </a>
                    </li>
                    <!-- <li class="menu-item">
                        <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i> <span class="text">Brands</span> </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" disabled href="#">
                            <i class="icon material-icons md-pie_chart"></i>
                            <span class="text">Statistics</span>
                        </a>
                    </li> -->
                </ul>
                <hr />
                <!-- <ul class="menu-aside">
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="#">
                            <i class="icon material-icons md-settings"></i>
                            <span class="text">Settings</span>
                        </a>
                        <div class="submenu">
                            <a href="page-settings-1.html">Setting sample 1</a>
                            <a href="page-settings-2.html">Setting sample 2</a>
                        </div>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="page-blank.html">
                            <i class="icon material-icons md-local_offer"></i>
                            <span class="text"> Starter page </span>
                        </a>
                    </li>
                </ul> -->
                <br />
                <br />
            </nav>
        </aside>
        
        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                    <form class="searchform">
                        <div class="input-group">
                            <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                            <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
                        </div>
                        <datalist id="search_terms">
                            <option value="Products"></option>
                            <option value="New orders"></option>
                            <option value="Apple iphone"></option>
                            <option value="Ahmed Hassan"></option>
                        </datalist>
                    </form>
                </div>
                 <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                  <ul class="nav">
                        <!-- <li class="nav-item">
                            <a class="nav-link btn-icon" href="#">
                                <i class="material-icons md-notifications animation-shake"></i>
                                <span class="badge rounded-pill">3</span>
                            </a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="/home/signout"> logout </a>
                        </li> 
                       <!--   <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link "> logout </a>
                        </li>-->
                        <!-- <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item text-brand" href="#"><img src="/imgs/theme/flag-us.png" alt="English" />English</a>
                                <a class="dropdown-item" href="#"><img src="/imgs/theme/flag-fr.png" alt="Français" />Français</a>
                                <a class="dropdown-item" href="#"><img src="/imgs/theme/flag-jp.png" alt="Français" />日本語</a>
                                <a class="dropdown-item" href="#"><img src="/imgs/theme/flag-cn.png" alt="Français" />中国人</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/imgs/people/avatar-2.png" alt="User" /></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul> -->
                </div> 
            </header>


            <div class="container my-5" id="form" style="display: none;">
                <div class="row justify-content-center" id="form-2" >
                  <div class="col-lg-9">
                    <h1 class="mb-3"> Add category</h1>
                    <form id="main-form"  method="post" action="/admin/add-category"  >
                      <div class="row g-3">
                        <div class="col-md-6">
                          <label for="your-name" class="form-label">category Name</label> <br>
                          <label for="your-name" id="existing-category" class="form-label text-danger"></label>
                          <input name="categoryname"   type="text" class="form-control border" id="category-name" required>
                        </div> 
        
                        <div class="col-12">
                          <div class="row">
                            <div class="col-md-6">
                              <button  type="submit" id="submit-btn" class="btn btn-success w-100 fw-bold my-2" >Add</button>
                              <button onclick="displayOthers()"  type="button" class="btn btn-dark w-100 fw-bold" id="go-back-btn" > Go back</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              

            
            <section class="content-main" id="list-category" style="display: block;">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Category</h2>
                    </div>
                        <div>
                           <button style="border: none;" onclick="hideOthers()">
                            <a href="#" class="btn btn-primary btn-sm rounded">Add category</a>
                           </button>
                        </div>
                        <div class="col-md-2 col-6">
                            <button style="border: none;" >
                                <a href="/admin/unlist-category" class="btn btn-primary btn-sm rounded">Unlist category</a>
                               </button>
                        </div>
                    </div>
                   
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">
                            <div class="col-lg-4 col-md-6 me-auto">
                                <input type="text" placeholder="Search..." class="form-control" />
                            </div>
                            <!-- <div class="col-lg-2 col-md-3 col-6">
                                <select class="form-select">
                                    <option>Status</option>
                                    <option>Active</option>
                                    <option>Disabled</option>
                                    <option>Show all</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-3 col-6">
                                <select class="form-select">
                                    <option>Show 20</option>
                                    <option>Show 30</option>
                                    <option>Show 40</option>
                                </select>
                            </div> -->
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                       
                                        <th>#ID</th>
                                        <th>categories</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(category.length > 0) { %>
                                        <%category.forEach((categories,ind) => {%>
                                        <% if(categories.delete === false) {%>
                                        <tr>
                                            <td> <%= ind+1 %> </td>
                                            <td>  <%= categories.categoryname %>  </td>
                                            
                                            <td  class="text-center">
                                                <a href="/admin/edit-category/<%= categories._id %>">
                                                    <i class="ri-edit-2-fill ri-lg m-1"></i>
                                                </a>
                                                <a href="/admin/delete-category/<%= categories._id %>">
                                                    <i class="ri-delete-bin-5-fill ri-lg m-1"></i>
                                                </a>
                                            </td>  
                                        </tr>
                                        <% } %>
                                        <% }) %>
                                    <% }else{%>         
                                        <h4>Category is empty</h4>           
                                    <%}%>
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive//end -->
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- <div class="pagination-area mt-30 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div> -->
            </section>
            
        </main>
        <script>
            let form = document.getElementById('form');
            let category = document.getElementById('list-category');
            let goBack = document.getElementById('go-back-btn');
            function hideOthers(){
                category.style.display= 'none';
                form.style.display = 'block'
            }
            function displayOthers(){
                category.style.display= 'block';
                form.style.display = 'none'
            }

            
            let button = document.getElementById('submit-btn');
            let add_category_form = document.getElementById('main-form');
            let label  = document.getElementById('existing-category');

            add_category_form.addEventListener('submit',(event) => {
                let categoryname = document.getElementById('category-name').value;
                event.preventDefault()
                fetch(`/admin/add-category`,{
                    method:'PUT',
                    headers: {
                    'Content-Type': 'application/json',
                    },
                    body:JSON.stringify({categoryname}).trim(''),
                })
                    .then((response) => {
                        if(!response.ok){
                            window.location.href = '/admin/category'
                        //    throw new Error(`Network response was not ok: ${response.statusText}`);
                        }
                        return response.json();
                    })
                    .then((data) => {
                        label.innerHTML = 'category is taken'
                    })
                    .catch((err) => {
                        console.log(err);
                    })
            })

        </script>

        <script src="/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/js/vendors/select2.min.js"></script>
        <script src="/js/vendors/perfect-scrollbar.js"></script>
        <script src="/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/js/main.js?v=1.1" type="text/javascript"></script>
    </body>
</html>
