<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minishop</title>
    <link rel="stylesheet" href="/styles/style.css">
    
    <!-- <link rel="stylesheet" href="/stylesheets/user/login.css"> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
</head>
<body>
    
    <!-- <div id="one">

        



        <form method="post" action="/login" id="form">
            <div>
                <h1 class="text-white">Login</h1>
            </div>
            <% if(typeof message !== "undefined"){%>
                <label for="" style="color: red;"> <%= message %>  </label>
                
            <%}%>
            <label for="" class="text-error" id="email-label">  </label>
            <div>
                
                <input  type="email"   id="email" name="email" placeholder="Email" required>
                
            </div>
            <div>
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <label for="">
                <a href="/forgot-password">forgot password</a>
            </label>
            <div>
                <input type="submit" value="Login" id="btn">
            </div>
        </form>



    </div> -->


    <div class="relative top-0 bg-indigo-300 flex items-center justify-center h-screen">
        <div class="bg-white p-4 rounded-lg shadow-lg max-w-sm w-full">
            <div class="flex justify-center mb-2">
                <span class="inline-block  rounded-full p-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"/></svg>
                </span>
            </div>
            <h2 class="text-2xl font-semibold text-center mb-4">Login</h2>
            <div class=" text-center mb-6">
               
            <% if(typeof message !== "undefined"){%>
                 <p class="text-red-700"> <%= message %></p>
                
            <%}%>
            </div>
            
             
            
            
          
            <form method="post" action="/login" id="form">
                
                <div class="mb-4">
                    <label for="email" class="block text-gray-700 text-sm font-semibold mb-1">Email Address *</label>
                    <label for="" class="text-red-500 font-medium text-xs" id="email-label"></label>
                    <input type="email" id="email" name="email" class="form-input w-full px-4 py-2 border rounded-lg text-gray-700 focus:ring-blue-500"
                     required placeholder="hello@alignui.com">
                </div>
                <div class="mb-6">
                    <label for="password" class="block text-gray-700 text-sm font-semibold mb-2">Password *</label>
                    <input type="password" id="password" name="password" class="form-input w-full px-4 py-2 border rounded-lg text-gray-700 focus:ring-blue-500"
                     required placeholder="••••••••">
                    <a href="#" class="text-blue-500 hover:underline" id="button"> 
                        <p class="text-gray-600 text-xs mt-1" >forgot password</p>
                    </a>
                   
                </div>
                <button type="submit" id="btn" class="w-full bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Login</button>
               
            </form>
        </div>

    </div>


    

<!-- Modal toggle -->

  
  <!-- Main modal -->
  <div id="authentication-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-md max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <!-- Modal header -->
              <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                  <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                      Sign in to our platform
                  </h3>
                  <button id="close" type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="authentication-modal">
                      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                      </svg>
                      <span class="sr-only">Close modal</span>
                  </button>
              </div>
              <!-- Modal body -->
              <div class="p-4 md:p-5">
                  <form class="space-y-4" id="forgot-form"
                   action="/forgot-password" method="post">
                      <div>
                          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
                          <input type="email" name="email" id="email-forgot" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="name@company.com" required>
                      </div>
                     
                      
                      <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Submit
                        </button>
                      <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                          Not registered? <a href="#" class="text-blue-700 hover:underline dark:text-blue-500">Create account</a>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div> 


  <!--  otp page for forgot password -->
    
    <div id="otp-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-5 w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow ">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-xl font-semibold text-gray-900 ">
                        Sign in to our platform
                    </h3>
                </div>
                <!-- Modal body -->
                <div class="p-4 md:p-5">
                    <form class="space-y-4" id="otp-form"
                        action="/post-otp" method="post">
                        <div>
                            <label for="otp" class="block mb-2 text-sm font-medium text-gray-900">Enter the otp</label>
                            <input type="text" name="otp" id="otp" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="name@company.com" required>
                        </div>  
                        <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                          Verify
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div> 
      

<!-- new and confirm password form -->

    <div id="newpassword-modal" tabindex="-1" aria-hidden="true" class="hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-5 w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow ">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-xl font-semibold text-gray-900 ">
                       New password
                    </h3>
                </div>
                <!-- Modal body -->
                <div class="p-4 md:p-5">
                    <form class="space-y-4" id="newpassword-form" action="/new-password" method="post">
                        <div>
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900">New password</label>
                            <input type="text" name="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="name@company.com" required>
                        </div> 
                        <div>
                            <label for="confirmPassword" class="block mb-2 text-sm font-medium text-gray-900">Confirm password</label>
                            <input type="password" name="confirmPassword" id="confirmPassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="name@company.com" required>
                        </div>   
                        <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                          Verify
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    


    <script>

    let newPassword = document.getElementById('newpassword-form').addEventListener('submit',(e) => {
            e.preventDefault();
            let password = document.getElementById('password').value;
            let confirmPassword = document.getElementById('confirmPassword').value;
                fetch('/new-password',{
                    method:'POST',
                    headers:{
                        'Content-Type':'application/json'
                    },
                    body:JSON.stringify({password,confirmPassword}),
                })
                    .then((response) => {
                        if(!response){
                            throw new Error(`Network response was not ok: ${response.statusText}`)
                        }
                        return response.json()
                    })
                    .then((data) => {
                        if(data){
                            window.location.href = '/login';
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    })
        })



    let otpSuccess = document.getElementById('otp-form').addEventListener('submit',(e) => {
        e.preventDefault();
        console.log('in client')
        let confirmPasswordModal = document.getElementById('newpassword-modal');
        let otp = document.getElementById('otp').value;
        console.log("otp form server"+otp)

            fetch('/post-otp',{
                method:'POST',
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify({otp})
            })
                .then((response) => {
                    if(!response.ok){
                        throw new Error(`Network response was not ok: ${response.statusText}`)
                    }
                    return response.json()
                })
                .then((data) => {
                    if(data){
                        confirmPasswordModal.style.display = 'flex';
                    }
                }).catch((error) => {
                    console.log(error)
                })

      })

        // fetch while forgot password otp and otp page
    let forgotPasswordForm = document.getElementById('forgot-form').addEventListener('submit',(e) => {
        e.preventDefault()
        let otpModal = document.getElementById('otp-modal');
        let email = document.getElementById('email-forgot').value;
        console.log('client'+email)
        fetch('/forgot-password',{
            method:'POST',
            headers: {
            'Content-Type': 'application/json',
            },
            body: JSON.stringify({ email }),
        }).then((response) => {
            if(!response.ok){
                throw new Error(`Network response was not ok: ${response.statusText}`);
            }
            return response.json();
        }).then(data => {
            if(data){
                otpModal.style.display = 'flex'
            }
        }).catch(error => {
            console.error('Fetch error:', error.message);
        });

    })

    let emailLabel = document.getElementById('email-label')
    let login_button = document.getElementById('btn')
    let form = document.getElementById('form')
    document.getElementById('form').addEventListener('input',(e) => {
        let isEmail = false;
        if(e.target.type === 'email'){
            const regex = /^[a-z0-9.]+@[a-z0-9.-]+\.[a-z]{3}$/
            let email = e.target.value
            isEmail = regex.test(email)
            if(!isEmail){
                login_button.type = 'button'
                return emailLabel.innerHTML = 'please enter a valid email'
            }else {
                login_button.type = 'submit'
            }
            if(e.target.value.trim('').length > 0){
                emailLabel.innerHTML = ''
            }
        }
    })        
    

    let button = document.getElementById('button');
    let modal = document.getElementById('authentication-modal');
    let close = document.getElementById('close')
    button.addEventListener('click',() => {
    modal.style.display = 'flex';
    })

    close.addEventListener('click',() => {
    modal.style.display = 'none'
    })
     
    </script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> -->

</body>
</html>