<div style="@media (max-width:641px) {
  display: flex;
}" id="drawer-left-example" class="fixed top-16 left-0 z-100 h-screen p-4 overflow-y-auto transition-transform  bg-white hidden w-80 dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-left-label">
    <h5 id="drawer-left-label" class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400"><svg class="w-4 h-4 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>Select category</h5>
   <button id="sidebar-close-button" type="button" data-drawer-hide="drawer-left-example" aria-controls="drawer-left-example" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white" >
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
         <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
      <span class="sr-only">Close menu</span>
   </button>
   <ul class="space-y-2 font-medium">
    <% category.forEach((category) => { %>
        <li class="border-b border-gray-200 py-1 list-none">   
            <a href="/home/products/<%=menOrWomen%>/<%= category._id %>?page=1" class="flex items-center p-2 font-bold text-white rounded-lg text-stone-900 hover:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               <span class="ms-3"> <%= category.categoryname  %></span>
            </a>
         </li>
    <% }) %>

   
    <div class="border-b border-gray-200 px-4 py-6">
      <h3 class="-mx-2 -my-3 flow-root">
      
      </h3>
      <!-- Filter section, show/hide based on section state. -->
      <div class="pt-2" id="filter-section-mobile-0">
        <div class="space">
          <form action="" class="flex flex-col items-start justify-start gap-2">
            <!-- <input id="filter-mobile-color-0" name="color[]" value="white" type="checkbox" class="h-10 w-20 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"> -->
            <div class="">
              <input type="number" min="1" name="min" placeholder="min" style="width: 55px; height: 30px; border-radius: 5px; " class=" border-gray-300 text-indigo-600 py-1 px-1 outline-none"> <span class="text-white">-</span>
              <input type="number" max="9999999" name="max" placeholder="max" style="width: 55px; height: 30px; border-radius: 5px; " class=" border-gray-300 text-indigo-600 py-1 px-1 outline-none">-
              <button class="px-1 bg-white rounded">
                submit
              </button>
            </div>
          
     
          </form>
        </div>
      </div>
    </div> 

          <li>
            <a href="/home/signout" class="flex items-center p-2 text-white rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 group">
               <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3"/>
               </svg>
               <span class="flex-1 ms-3 whitespace-nowrap">Sign Out</span>
            </a>
         </li>

   </ul> 
 </div>